<!DOCTYPE html>
{%load static %}
<head>  
<title> Weather_WebAPP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.0/zephyr/bootstrap.min.css"
        integrity="sha512-Umfd1SfiiYbs1yz/Eqt2qh/lfZeKFvbMwJPrpoptPwtD2PkNOv9lmu4Jq9kqga2XP+eE82bNDIoHZ8i1SYiY1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-warning ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Weather_WebAPP_Django</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <form class="d-flex">
               
            </form>
        </div>
    </div>
</nav>
<body class=" bg-info" style="height: 1200px;">
    <div >
        <div class="d-flex justify-content-center ">
            <div class="input-group justify-content-center">
            <form Method="post">
                {% csrf_token %}
               
                <span>
                    <input class="form-control input-lg" style="margin-top:200px ; width: 800px; height: 50px;" type="text" placeholder="search by city name"
                        name="city">
                        <br/> 
                    <button class="btn btn-primary justify-content-center" style="margin-left:200px; width: 300px;" type="submit">Search</button>
                </span>
              
              
                </form>
            </div>
        </div>
    </div>
    {% if infos.country_code and infos.weather and  infos.description%}
    <div class="d-flex justify-content-center" style= " margin-left:450px; margin-top:50px; width:1000px;">
    <ul class="list-group " style= "  width:800px;" >
        <li class="list-group-item">
            
            <img src="{%static 'images/temp.png'%}" style=" width:60px;"> 
            <center> <strong>Temperature: {{infos.temp}}°C </strong>
              </center>
           
        
        </li>
        <li class="list-group-item"><img src="https://openweathermap.org/img/w/{{infos.icon}}.png" style="width:60px;">
            <center> <strong>Weather : {{infos.weather}} - Description : {{infos.description}}</strong>  </center>
          
        
        
        </li>
        <li class="list-group-item"> 
            
            <img src="{%static 'images/pressure.png'%}" style="margin-bottom:-20px; width:60px;"> 
            <center> <strong> Pressure : {{infos.pressure}} Pa</strong>  </center>
          </li>
        <li class="list-group-item"> <img src="{%static 'images/humidity.png'%}" style=" width:60px;">
            <center> <strong> Humidity : {{infos.humidity}} g/m3</strong>  </center>
           </li>
        <li class="list-group-item"> <img src="{%static 'images/sunrise.png'%}" style="width:70px;"> 
            <center> <strong>Sunrize at : {{infos.sunrise}} AM</strong>   </center>
             </li>
        <li class="list-group-item"> <img src="{%static 'images/sunset.png'%}" style=" width:70px;">
            <center> <strong>Sunset at : {{infos.sunset}} PM </strong>  </center>
           </li>
        <li class="list-group-item">
            <center> <strong>Timezone   :   {{infos.timezone}} </strong></li>  </center>
            
        <li class="list-group-item"> <center>   
        <strong>country code     : {{infos.country_code}} </strong>

        </center></li>
    </ul> 
    {%endif%}
    <span>
        <br/> <br />
    </span>

</body>


 
 
   

